.payment {
  text-align: left;
  margin-left: 40px;
}
.payment_checkout {
  text-align: center;
  background-color: whitesmoke;
  top: 40px;
  padding: 20px;
}
.payment_sections {
  background-color: white;
}
.payment_section_row {
  display: flex;
  margin: 0 20px;
  border-bottom: 1px solid wheat;
}
.payment_section_row_address {
  display: flex;
  margin: 20px 20px;
}
.payment_title {
  padding: 40px;
}
.payment_items {
  /* padding-right: 20px; */
  margin: 20px 20px;
}
.payment_details {
  padding-right: 40px;
  padding-top: 20px;
  padding: 10px;
}
.payment_details {
  padding-top: 20px;
  /* width: fit-content; */
  width: 400px;
  height: 100px;
}
.payment_to_home {
  text-align: center;
  background-color: rgb(220, 214, 214);
  height: 50px;
  width: 100%;
  padding-top: 10px;
}
.payment_pay {
  width: 200px;
  height: 30px;
  background-color: rgb(224, 224, 203);
  font-size: large;
  font-weight: 600;
  border-color: rgb(174, 196, 174);
}
.cardelement {
  /* object-fit: contain; */
}
